
**DAY 1 PYTHON – DEEP LEARNING NOTES & TASKS**

This notebook is designed to give a deep understanding of Python basics
for interviews at Amazon, Google, etc.

Each section contains:
  1. Notes
  2. Examples (runnable)
  3. Tasks (in comments, writing my solutions below)


**VARIABLES & DATA TYPES**

Notes:
 - Variables are names pointing to data.
 - Python is dynamically typed.
 - Types: int, float, str, bool
 - Variables are references to objects in memory

In [ ]:
# Examples:
a = 10      # int
b = 3.5     # float
name = "Aashika"
is_active = True

print(type(a), type(b), type(name), type(is_active))

#variables store references
x = [1,2,3]
y = x
y.append(4)
print("x after modifying y:", x)

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>
x after modifying y: [1, 2, 3, 4]

Task 1: Create two lists pointing to the same object. Modify one. Observe the other.
Task 2: Create two lists that are independent and modify one. Check the other.
Task 3: Create variables for your name, age, is_student and print them.

In [ ]:
# Create two lists pointing to the same object. Modify one. Observe the other
list1 = ["aash","sheik","ani","aji"]
list2 = list1
list2.append("xxx")
list2.pop()
print(list2)

['aash', 'sheik', 'ani', 'aji']

In [ ]:
 #Create two lists that are independent and modify one. Check the other.
 list1 = ["mia","simbha"]
 list2 = ["MIA","SIMBHA"]
 list2.clear()
 print(list1)
 print(list2)

['mia', 'simbha']
[]

In [ ]:
#Create variables for your name, age, is_student and print them.
name = input("Enter you're name:")
age = int(input("Enter you're age:"))
is_student = True

print(type(name), type(age), type(is_student))


print(name,age,is_student)

Enter you're name:aashika sheik
Enter you're age:22
<class 'str'> <class 'int'> <class 'bool'>
aashika sheik 22 True

**2. NUMBERS & ARITHMETIC**

**Notes:**
- Operators: `+`, `-`, `*`, `/`, `//`, `%`, `**`
- Division `/` always returns float
- Floor division `//` returns integer
- Edge case: division by zero → `ZeroDivisionError`
- Swap numbers without temp variable: `x, y = y, x`

In [ ]:
# Examples:
x = 7
y = 3
print("Add:", x+y, "Subtract:", x-y, "Multiply:", x*y)
print("Divide:", x/y, "Floor Divide:", x//y, "Modulo:", x%y, "Power:", x**y)

# Swap without temp
x, y = y, x
print("Swapped x, y:", x, y)

Add: 10 Subtract: 4 Multiply: 21
Divide: 2.3333333333333335 Floor Divide: 2 Modulo: 1 Power: 343
Swapped x, y: 3 7

Task 4: Take two numbers and print all operation results
Task 5: Check if a number is divisible by 2,3,5
Task 6: Convert Celsius → Fahrenheit → Kelvin in one function
Task 7: Swap two numbers without a temp variable

In [ ]:
#Take two numbers and print all operation results
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
print("Addition of num1 and num2 : ",num1+num2)
print("Subtraction of num1 and num2 : ",num1-num2)
print ("Multication of num1 and num2 :",num1*num2)
print("Division of num1 and num2 : ",num1/num2)
print("Floor Division btwn num1 and num2 : ",num1//num2)
print("Modulo of num1 and num2 : ",num1%num2)
print("Power of num2 over num1 : ",num1**num2)2

Enter first number:23
Enter second number:4
Addition of num1 and num2 :  27
Subtraction of num1 and num2 :  19
Multication of num1 and num2 : 92
Division of num1 and num2 :  5.75
Floor Division btwn num1 and num2 :  5
Modulo of num1 and num2 :  3
Power of num2 over num1 :  279841

In [ ]:
#Check if a number is divisible by 2,3,5
num1 = 2
num2 = 3
num3 = 5
user_input = int(input("Enter the number:"))
if user_input % num1 ==0:
  print("Number is divisible by 2")
if user_input % num2==0:
  print("Number is divisible by 3")
if user_input % num3 == 0:
  print ("Number is divisble by 5")
if user_input % num1 !=0 and user_input % num2 !=0 and user_input % num3 !=0:
  print("Number is neither printed by 2 nor 3 nor 5")

Enter the number:15
Number is divisible by 3
Number is divisble by 5

In [ ]:
#Convert Celsius → Fahrenheit → Kelvin

Celsius = int(input("Enter the celsius value:"))
Fahrenheit = (Celsius * 1.8 + 32)
Kelvin = (Fahrenheit - 32) * 5/9 + 273.15 # Kelvin = Celsius + 273.15   # simpler direct formula
print(f"Given celsius is {Celsius},in fahrenheit is {Fahrenheit}, in kelvin is {Kelvin}")

Enter the celsius value:32
(Given celsius is 32,in fahrenheit is 89.6, in kelvin is 305.15

In [ ]:
#Swap two numbers without a temp variable
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
num1,num2 = num2,num1
print("Swapped num1 to num2:" ,num1)
print("Swapped num2 to num1:" ,num2)

Enter first number:23
Enter second number:32
Swapped num1 to num2: 32
Swapped num2 to num1: 23

3.**STRINGS**

**Notes:**
- Strings are immutable sequences of characters
- Common methods: `len()`, `upper()`, `lower()`, `replace()`, `split()`, `join()`
- Slicing: `s[start:stop:step]`
- Reverse string: `s[::-1]`
- Edge cases: empty string, single character, unicode

In [ ]:
# Examples:
s = "Amazon"
print("First char:", s[0], "Last char:", s[-1])
print("Slice [1:4]:", s[1:4])
print("Upper:", s.upper(), "Lower:", s.lower(), "Replace:", s.replace("A","a"))

rev = s[::-1]
print("Reversed:", rev)

Task 8: Check if a string is a palindrome using slicing
Task 9: Count vowels and consonants in a string
Task 10: Remove spaces and capitalize first letters of words
Task 11: Reverse a string without using slicing [::-1]

In [ ]:
#Check if a string is a palindrome using slicing
string = input("Enter the string:")
reversed_string = string [::-1]
if string == reversed_string:
  print(f"The given input string - {string} is palindrome")
else:
  print(f"The given input string - {string} is not palindrome")

Enter the string:tit for tat
The given input string - tit for tat is not palindrome

In [ ]:
#Count vowels and consonants in a string
string = input("Enter the string :")
vowels = "aeiouAEIOU"
vowel_count = 0
consonant_count = 0

for char in string:
    if char in vowels:
        vowel_count += 1
    elif char.isalpha():  # only letters
        consonant_count += 1

print(vowel_count)
print(consonant_count)

aashika
4
3

In [ ]:
#Remove spaces and capitalize first letters of words
string = input("Enter the string:")
string_space = string.strip()
string_caps = string.title()
print(string_space,string_caps)

Enter the string:hello world
hello world Hello World

In [ ]:
#Reverse a string without using slicing [::-1]
str1 = input("Enter the string:")
str_list = list(str1)
#reversed_list = list(reversed(str1)), reversed_string = str(reversed_list) --> gives the value as list
#a= str_list.reverse() --> error cause reveresed list cant be stored this way
str_list.reverse()
reversed_string = "".join(str_list)
print(reversed_string)

Enter the string:aash
hsaa

**4.LISTS, TUPLES, SETS, DICTIONARIES**

**List in Python**
**Definition**

A list is an ordered collection of items in Python.

It can store elements of different data types like numbers, strings, booleans, or even other lists.

Lists are mutable, meaning you can change, add, or remove items after creation.

**Properties**

Ordered → items have a defined order, accessible by index.

Mutable → can modify items (add, remove, update).

Allows duplicates → same value can appear multiple times.

Heterogeneous elements → can store different data types.

Indexable and iterable → supports indexing, slicing, and looping.

**Example**


```
lst = [1, "hello", 3.5, True]
lst.append(100)        
lst.insert(1, "new")   
lst.remove("hello")    
lst.pop()              
print(lst)  # [1, 'new', 3.5, True]
```

**Tuple in Python**

**Definition**

A tuple is an ordered collection of items in Python, immutable (cannot change once created).

Can store elements of different data types.

**Properties**

Ordered → items have a defined order.

Immutable → cannot add, remove, or modify elements.

Allows duplicates → same value can appear multiple times.

Heterogeneous elements → can store different data types.

Indexable and iterable → supports indexing, slicing, and looping.

**Example**

```
t = (1, 2, (3, 4))
print(t[0])       # 1
print(t[2][1])    # 4
print(t.count(2)) # 1
print(t.index(3)) # 2

```


**Set in Python**

**Definition**

A set is an unordered collection of unique items in Python.

Mutable, but items must be immutable (numbers, strings, tuples).

**Properties**

Unordered → no index, cannot access by position.

Mutable → can add or remove elements.

Unique elements only → duplicates automatically removed.

Iterable → can loop through items.

**Example**
```
s = {1, 2, 2, 3}
s.add(4)
s.remove(2)
print(s)        # {1, 3, 4}
print(2 in s)   # False
print(s & {3,4,5})  # {3,4} intersection
```


**Dictionary in Python**

**Definition**

A dictionary is a collection of key → value pairs in Python.

Keys must be unique and immutable, values can be any data type.

**Properties**

Unordered (Python 3.7+ maintains insertion order).

Mutable → can add, update, or remove key-value pairs.

Keys unique → duplicate keys not allowed.

Values can be duplicates.

Indexing by key → d[key].

**Example**
```
d = {"name": "Aashika", "age": 20}
d["city"] = "Delhi"        
print(d.keys())    # dict_keys(['name', 'age', 'city'])
print(d.values())  # dict_values(['Aashika', 20, 'Delhi'])
print(d.items())   # dict_items([('name','Aashika'),('age',20),('city','Delhi')])
```


**Dictionary Comprehension**
**Definition**

A concise way to create dictionaries from iterables or formulas.

**Syntax**
```
{key_expression: value_expression for item in iterable if condition}
```

**Example 1: Squares**
```
squared = {x: x**2 for x in range(1,6)}
print(squared)  # {1:1, 2:4, 3:9, 4:16, 5:25}
```


**Example 2: Even squares only**
```
even_squared = {x: x**2 for x in range(1,6) if x%2==0}
print(even_squared)  # {2:4, 4:16}
```


**Example 3: Characters to ASCII**
```
chars = 'abc'
ascii_dict = {c: ord(c) for c in chars} #ord() returns ascii value
print(ascii_dict)  # {'a':97, 'b':98, 'c':99}
```


**Quick Interview Tips**

List vs Tuple → List mutable, Tuple immutable.

Set → perfect for uniqueness & membership checks.

Dictionary comprehension → useful for mapping, counting, or transforming data.

Nested access → lst[2][1], d['key'] often asked in coding rounds.

len() → works for all collections: list, tuple, set, dict, string.

In [ ]:
# Lists
lst = [1,"hello",3.5,True]
lst.append(100)
lst.insert(1,"new")
lst.remove("hello")
print("List:", lst)

# Tuple
t = (1,2,(3,4))
print("Tuple element:", t[2][1])

# Set
s = {1,2,2,3}
s.add(4)
print("Set:", s)

# Dictionary
d = {"name":"Aashika", "age":20}
d["city"]="Delhi"
print("Dict keys:", d.keys(), "Dict values:", d.values())

# Dictionary comprehension
squared = {x:x**2 for x in range(1,6)}
print("Squared dict:", squared)

Task 12: Create list of 5 numbers, tuple of 3 numbers, set with duplicates, dict of 2 key-value pairs
Task 13: Given a list of words, count frequency of each word using dictionary
Task 14: Find all unique characters in a string using a set
Task 15: Create a dict with squares of numbers from 1-10 using comprehension

In [57]:
#Create list of 5 numbers, tuple of 3 numbers, set with duplicates, dict of 2 key-value pair
list_creation = [1,2,3,4,5] #list_creation = [1,"aash","True",1.34]
tuple_creation = (12,12,2003)
set_creation = {12,12,2003}
dict_creation = {"name":"Aashika Sheik","age":"20"}
print(type(list_creation),type(tuple_creation),type(set_creation),type(dict_creation))

<class 'list'> <class 'tuple'> <class 'set'> <class 'dict'>

In [87]:
#Given a list of words, count frequency of each word using dictionary
ip =(input("Enter you're string"))
words = ip.split()
frequency = {}
for i in words:
  if i not in frequency:
    frequency[i] = 1
  else:
    frequency[i] += 1
print(frequency)

Enter you're stringi love my husband and i  miss him
{'i': 2, 'love': 1, 'my': 1, 'husband': 1, 'and': 1, 'miss': 1, 'him': 1}

In [60]:
#Find all unique characters in a string using a set Task
string = input("Enter the string")
unquie = set(string)
unquie_string = "".join(unquie)
print(unquie_string)

Enter the stringaashika
skhai

In [62]:
#Create a dict with squares of numbers from 1-10 using comprehension
dict_com = {x:x**2 for x in range (1,11)}
print(dict_com)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

**5.CONDITIONALS**

**Notes:**
- if, elif, else
- Truthy/Falsy: non-zero/non-empty → True, 0/empty → False
- Shortcuts: `if x:`, `if not x:`

In [ ]:
age = 18
if age >= 18:
    print("Adult")
elif age >= 13:
    print("Teenager")
else:
    print("Child")

Task 16: Grade a student: >90 A, >80 B, >70 C, else F
Task 17: Check if a year is a leap year
Task 18: Given a number, print if it is positive, negative, or zero

In [64]:
#Grade a student: >90 A, >80 B, >70 C, else F
marks = int(input("Enter the marks:"))
if marks>90:
  print("Grade A")
elif marks >80:
  print("Grade B")
elif(marks>70):
  print("Grade C")
else:
  print("F")

Enter the marks:34
F

In [66]:
#Check if a year is a leap year
year = int(input("Enter the year:"))
if ( (year % 4 == 0 and year %100!=0) or (year %400==0)):
  print("Leap Year")
else:
  print("Not a Leap Year")

Enter the year:2003
Not a Leap Year

In [68]:
#Given a number, print if it is positive, negative, or zero
num = int(input("Enter the number:"))
if (num>0):
  print("postive")
elif (num<0):
  print("negative")
else:
  print("zero")

Enter the number:-1
negative

**6.LOOPS**

**Notes:**
- for loop, while loop
- Nested loops
- break, continue
- range(start, stop, step)

In [ ]:
# For loop
for i in range(5):
    print("For loop:", i)

# While loop
count = 0
while count < 5:
    print("While loop:", count)
    count += 1

# Nested loops
for i in range(3):
    for j in range(2):
        print("Nested:", i,j)

Task 19: Print multiplication table for numbers 1-5 using nested loops
Task 20: Print all prime numbers up to 50
Task 21: Print numbers from 1-50 divisible by 3 or 5
Task 22: Pattern printing:

```
*
**
***
****
*****

```

In [72]:
#Print multiplication table for numbers 1-5 using nested loops
for i in range (1,6):
  for j in range(1,11):
    print(i ,"X" ,j ,"=", i*j)
  print("------------")

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
------------

In [82]:
#Print all prime numbers up to 50

for i in range(2, 51):
    for j in range(2, i):
        if i % j == 0:
            break
    else:
          print(i, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [74]:
#Print numbers from 1-50 divisible by 3 or 5
print ("numbers from 1-50 divisible by 3 or 5")
for i in range (1,51):
  if ((i%3==0) or (i%5==0)) :
    print (i)

numbers from 1-50 divisible by 3 or 5
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50

In [ ]:
'''Pattern printing:
*
**
***
****
***** '''

In [94]:
for i in range(1, 6):       # row number decides how many stars
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

**7.FUNCTIONS**

**Notes:**
- Reusable blocks of code
- Arguments: positional, keyword, default, *args, **kwargs
- Can return multiple values
- Recursion is very important for Amazon/Google interview prep

In [ ]:
def greet(name="Guest"):
    print(f"Hello, {name}")

greet("Aashika")
greet()

def add_mul(x,y):
    return x+y, x*y

sum_, prod = add_mul(3,4)
print(sum_, prod)

def foo(*args, **kwargs):
    print("args:", args)
    print("kwargs:", kwargs)

foo(1,2,3,a=10,b=20)

Task 23: Factorial of a number using recursion
Task 24: Check if a list is sorted
Task 25: Function to find max and min in a list
Task 26: Function to merge two dictionaries (sum values for same keys)
Task 27: Function to count frequency of characters in a string

In [2]:
#Factorial of a number using recursion
def factorial (n):
  if n == 1:
    return 1
  else:
    return n *factorial(n-1)

factorial(5)

120

In [109]:
#Check if a list is sorted
def sorting( x ):
  if list_ip == sorted(list_ip):
    print("The list is sorted")
  else:
    print("The list is not sorted")



list_ip = ["aash","sheik","allah"]
sorting(list_ip)

The list is not sorted

In [6]:
#Function to find max and min in a list

def find_max(lst):
    maximum = lst[0]
    for i in lst:
        if i > maximum:
            maximum = i
    return maximum

def find_min(lst):
    minimum = lst[0]
    for j in lst:
        if j < minimum:
            minimum = j
    return minimum

list_ip = [1, 2, 3, 4]
print("Max:", find_max(list_ip))
print("Min:", find_min(list_ip))

Max: 4
Min: 1

In [3]:
#Function to merge two dictionaries (sum values for same keys)
def merge_dicts(dict1, dict2):
    merged = {}

    for key in dict1:
        merged[key] = dict1[key]


    for key in dict2:
        if key in merged:
            merged[key] = merged[key] + dict2[key]
        else:
            merged[key] = dict2[key]

    return merged

dict_a = {'a': 10, 'b': 20}
dict_b = {'b': 5, 'c': 15}

result = merge_dicts(dict_a, dict_b)
print(result)

{'a': 10, 'b': 25, 'c': 15}

In [4]:
#Function to count frequency of characters in a string

def char_frequency(text):
    freq = {}

    for i in text:
        if i in freq:
            freq[i] = freq[i] + 1  # increase count if already exists
        else:
            freq[i] = 1  # first time seeing the character

    return freq

# Example usage
string_input = "aashika"
result = char_frequency(string_input)
print(result)

{'a': 3, 's': 1, 'h': 1, 'i': 1, 'k': 1}

**8.BONUS – INTERVIEW PATTERNS**

**Notes:**
- Pattern printing is common in interviews
- Examples:
```
*
**
***
****
*****
```
- Nested loops required
- Understand indexes carefully

Task 28: Print reverse pattern:
```
*****
****
***
**
*
```
Task 29: Pyramid pattern:


```
     *
    ***
   *****
```

Task 30: Given a list of numbers, print all pairs whose sum is even
Task 31: Given a string, print all substrings

In [ ]:
'''Print reverse pattern:
*****
****
***
**
* '''

In [99]:
for i in range (5,0,-1):
  for j in range (i):
    print("*",end = " ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
'''Pyramid pattern:
     *
    ***
   ***** '''

In [102]:
for i in range (1,4):
  print(" " * (3-i),end = "")
  print("*" * (2*i - 1))

  *
 ***
*****

In [7]:
#Given a list of numbers, print all pairs whose sum is even
numbers = [1, 2, 3, 4, 5]

for i in range(len(numbers)):
    for j in range(i+1, len(numbers)):
        if (numbers[i] + numbers[j]) % 2 == 0:
            print(numbers[i], numbers[j])

1 3
1 5
2 4
3 5

In [8]:
#Given a string, print all substrings
string = "abc"

for i in range(len(string)):
    for j in range(i+1, len(string)+1):
        print(string[i:j])

a
ab
abc
b
bc
c

**Regex Introduction – Short Teaser**
Regex allows pattern matching in strings
import the module

In [ ]:

import re

text = "My email is aashika@example.com"
# Simple search for a word 'email'
match = re.search(r"email", text)

if match:
    print("Found 'email' at position:", match.start())
else:
    print("No match found")

Task :Try searching for the word "Aashika" in the same text

In [111]:
import re
text = "Hi my name is Ms.Aashika Sheik"
#match = re.search (r"Aashika",text)
x = re.search (r"Aashika",text)
if x:
  print("Aashika is present")
else:
  print ("No aashika is not present")

Aashika is present