**Day 4: Data Structures (Lists, Tuples, Sets, Dictionaries)**

**Introduction:**

Data structures are essential for efficient data storage and manipulation. Using the right structure can optimize time complexity and memory usage, critical for large-scale problems. Python offers four primary built-in structures: lists, tuples, sets, and dictionaries.

Understanding their properties, time complexities, and methods is important for problem-solving in tech interviews.

**1. Lists**

Definition: Ordered, mutable collection of elements.

Properties:

Indexed (access by position)

Mutable (can modify elements)

Allows duplicates

In [ ]:
# Example 1: Basic Operations
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
fruits.insert(1, "mango")
fruits.remove("banana")
print(fruits)  # ['apple', 'mango', 'cherry', 'orange']

# Example 2: Second largest number without sorting
numbers = [5, 12, 7, 9, 20]
largest = second = float('-inf')
for n in numbers:
    if n > largest:
        second = largest
        largest = n
    elif n > second and n != largest:
        second = n
print(f"Second largest number is {second}")

['apple', 'mango', 'cherry', 'orange']
Second largest number is 12

**Tasks:**

Reverse a list without using slicing.

Find all pairs of numbers whose sum is divisible by 3.

Flatten a nested list (e.g., [1, [2,3], [4,[5]]] → [1,2,3,4,5]).

In [ ]:
#Reverse a list without using slicing.
def slicing (user_list):
  temp = []
  for i in range (len(user_list)-1, -1, -1):
    temp.append(user_list[i])
  print(temp)

user_list = list(map(int,input("Enter the list for sorting : ").split()))
slicing(user_list)

Enter the list for sorting : 1 2 3 4
[4, 3, 2, 1]

In [ ]:
#Find all pairs of numbers whose sum is divisible by 3.
def sd (lst):
  for  i in range (len(lst)):
    for j in range (i+1,len(lst)):
      if((lst[i]+lst[j])%3==0):
        print(lst[i],lst[j])
lst = list(map(int,input("Enter the list : ").split()))
sd (lst)

Enter the list : 3 5 7  9 6
3 9
3 6
5 7
9 6

In [ ]:
#Flatten a nested list (e.g., [1, [2,3], [4,[5]]] → [1,2,3,4,5]).

def nl (lst):
  temp = []
  for i in (lst):
    if isinstance(i,list):
      for j in i:
        temp.append(j)
    else:
      temp.append(i)
  print(temp)

user_list = eval(input("Enter the nested list: "))

nl(user_list)

Enter the nested list: [1, [2,3], [4,[5]]]
[1, 2, 3, 4, [5]]

In [ ]:


# Flatten a nested list (e.g., [1, [2,3], [4,[5]]] → [1,2,3,4,5])

def nl(lst):
    temp = []
    for i in lst:
        if isinstance(i, list):   #
            temp.extend(nl(i))
        else:
            temp.append(i)
    return temp

user_list = eval(input("Enter the nested list: "))
print("Flattened list:", nl(user_list))

Enter the nested list: [1, [2,3], [4,[5]]]
Flattened list: [1, 2, 3, 4, 5]

**2. Tuples**

Definition: Ordered, immutable collection.

Properties:

Indexed

Immutable

Allows duplicates

In [ ]:
# Tuple examples
person = ("Alice", 25, "Engineer")
print(person[1])  # 25

nested = (1, 2, (3, 4))
print(nested[2][1])  # 4

# Tuple to list and back
tpl = (1, 2, 3)
lst = list(tpl)
lst.append(4)
tpl = tuple(lst)
print(tpl)

25
4
(1, 2, 3, 4)

**Tasks:**

Swap first and last elements of a tuple using unpacking.

Convert a tuple to list, modify, and convert back to tuple.

In [1]:
#Swap first and last elements of a tuple using unpacking.
user_tuple = (1, 2, 3, 4, 5)

temp_list = list(user_tuple)

temp_list[0], temp_list[-1] = temp_list[-1], temp_list[0]

user_tuple = tuple(temp_list)
print(user_tuple)

(5, 2, 3, 4, 1)

In [ ]:
#Convert a tuple to list, modify, and convert back to tuple.
tpl = (5,7,8,4.5)
lst = list(tpl)
lst.append(4)
lst.pop(0)
tpl = tuple(lst)
print(tpl)

(7, 8, 4.5, 4)

**3. Sets**

Definition: Unordered collection of unique elements.

Properties:

No duplicates

Mutable (can add/remove elements)

No indexing

In [2]:
# Set examples
numbers = {1, 2, 2, 3, 4}
numbers.add(5)
numbers.remove(2)
print(numbers)  # {1, 3, 4, 5}

A = {1,2,3,4}
B = {3,4,5,6}
print(A.union(B))       # {1,2,3,4,5,6}
print(A.intersection(B))# {3,4}
print(A.difference(B))  # {1,2}

{1, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

**Tasks:**

Find unique words in a sentence.

Find common elements in three sets.

Elements present in one list but not in another.

In [5]:
#Find unique words in a sentence.
def unique_words (ip):
  op = set(ip.split())
  print (str(op))

ip = input("Enter the string : ")
unique_words (ip)

Enter the string : mango is waiting for mango friend
{'is', 'for', 'friend', 'waiting', 'mango'}

In [9]:
#Find common elements in three sets.
def common_ele (set1,set2,set3):
  a = set1.intersection(set2)
  op = a.intersection(set3)
  print(op)

ip1 = input("Enter the elements in set-1 : " ). split()
set1 = set(ip1)
ip2 = input("Enter the elements in set-2 : " ). split()
set2 = set(ip2)
ip3 = input("Enter the elements in set-1 : " ). split()
set3 = set(ip3)
common_ele (set1,set2,set3)

Enter the elements in set-1 : 1 2 3 4
Enter the elements in set-2 : 3 4 5 6
Enter the elements in set-1 : 7 8 3 4
{'4', '3'}

In [10]:
#Elements present in one list but not in another.
def unique_ele (l1,l2):
  set1 = set(l1)
  set2 = set(l2)
  op = set1.difference(set2)
  print(op)

l1 = list(map(int,input("Enter the elements in the list (Only Numbers)").split()))
l2 = list(map(int,input("Enter the elements in the list (Only Numbers)").split()))
unique_ele (l1,l2)

Enter the elements in the list (Only Numbers)1 2 3 4 5
Enter the elements in the list (Only Numbers)3 4 5 6 7
{1, 2}

**4. Dictionaries**

Definition: Unordered collection of key-value pairs.

Properties:

Keys are unique

Values can repeat

Mutable

In [13]:
# Dictionary examples
student = {"name": "Alice", "age": 20, "city": "Delhi"}
print(student["name"])  # Alice
student["grade"] = "A"
student["age"] = 21

# Word frequency example
text = "Data science is fun and science is cool"
words = text.split()
freq = {}
for word in words:
    freq[word] = freq.get(word,0) + 1
print(freq)

Alice
{'Data': 1, 'science': 2, 'is': 2, 'fun': 1, 'and': 1, 'cool': 1}


**Tasks:**

Merge two dictionaries and sum values if keys match.

Extract keys with maximum values.

Find characters in a string that appear exactly twice.

In [12]:
#Merge two dictionaries and sum values if keys match.


def sum_value (dict1,dict2):
  merged = dict1.copy()
  for i in dict2:
    if i in merged:
      merged[i] += dict2[i]
    else:
      merged[i] = dict2[i]
  print(merged)


dict1 = eval(input("Enter the first dictionary"))
dict2 = eval(input("Enter the first dictionary"))
sum_value (dict1,dict2)

Enter the first dictionary{'b': 5, 'c': 15}
Enter the first dictionary {'a': 10, 'b': 20}
{'b': 25, 'c': 15, 'a': 10}

In [27]:
#Extract keys with maximum values.


def max_key(dict1):
    max_val = list(dict1.values())[0]
    keys = []

    for i in dict1:
        if dict1[i] > max_val:
            max_val = dict1[i]
            keys = [i]
        elif dict1[i] == max_val:
            keys.append(i)

    print("Keys with maximum value:", keys)


dict1 = eval(input("Enter dictionary : "))
max_key(dict1)

Enter dictionary : {'a':10,'b':20,'c':15}
Keys with maximum value: ['b']

In [1]:
#Find characters in a string that appear exactly twice.

def twice_chars(s):
    freq = {}
    result = []
    for ch in s:
        freq[ch] = freq.get(ch, 0) + 1
        if freq[ch] == 2:
            result.append(ch)
        elif freq[ch] > 2 and ch in result:
            result.remove(ch)

    print("Characters that appear exactly twice:", result)


string = input("Enter a string: ")
twice_chars(string)

Enter a string: gloogle
Characters that appear exactly twice: ['o', 'g', 'l']