**Day 3: Python Notes â€“ Functions & Modules**


This notebook covers detailed explanations, examples, and practice tasks for functions, recursion, built-in functions, and Python modules. It is designed for deep understanding and interview-level practice.

**1.What are Functions in Python?**

A function is a reusable block of code that performs a specific task.
Instead of repeating code multiple times, we define a function once and call it whenever needed.

**Advantages of Functions:**

Code reusability (define once, use many times)

Code organization (modular, easy to debug)

Scalability (large projects rely heavily on functions)

Abstraction (hide complex logic inside a function)


**Syntax:**
```
def function_name(parameters):
    """optional docstring - explains the function"""
    # body
    return value

```

In [4]:
#Example 1: Function without arguments
def say_hello():
    print("Hello, welcome to Python functions!")

say_hello()

Hello, welcome to Python functions!

In [5]:
#Example 2: Function with arguments
def greet(name):
    print(f"Hello {name}, have a great day!")

greet("Aashika")
greet("Sheik")

Hello Aashika, have a great day!
Hello Sheik, have a great day!

In [6]:
#Example 3: Function with return value
def square(x):
    return x**2

result = square(5)
print("Square of 5 is:", result)

Square of 5 is: 25

Task 1: Write a function that takes your name and prints "Hello, <name>, welcome!"

Task 2: Write a function that takes 2 numbers and returns their average.

In [7]:
# Task 1: Write a function that takes your name and prints "Hello, <name>, welcome!"
def greet (name):
  print(f"Hello, {name} ,welcome!")
name = input("Enter you're name : ")
greet(name)

Enter you're name : aashika
Hello, aashika ,welcome!

In [10]:
# Task 2: Write a function that takes 2 numbers and returns their average.
def average (x,y):
  formula = (x+y)/2
  return formula
x,y = map(int,input("Enter the two number for finding the average : ").split())
average(x,y)

Enter the two number for finding the average : 2 4

3.0

**Built-in Functions vs User-defined Functions**

**Built-in Functions**

Predefined by Python.

Examples: len(), max(), sum(), print().



```
nums = [1, 5, 7, 3, 9]
print("Length:", len(nums))  
print("Maximum:", max(nums))  
print("Sum:", sum(nums))

```

**User-defined Functions**

Created by the programmer.



```
def cube(n):
    return n**3

print("Cube of 4:", cube(4))

```

Task 1: Use built-in functions to find min, max, and sum of a list.

Task 2: Write a user-defined function to check if a number is even or odd.

In [14]:
#Use built-in functions to find min, max, and sum of a list.
def funct (user_list):
  max_list = max(user_list)
  min_list = min(user_list)
  sum_list = sum(user_list)
  return max_list,min_list,sum_list

user_list = list(map(int, input("Enter the numbers separated by spaces: ").split()))
max_val, min_val, total = funct(user_list)
print("Maximum:", max_val)
print("Minimum:", min_val)
print("Sum:", total)

Enter the numbers separated by spaces: 2 3 4
Maximum: 4
Minimum: 2
Sum: 9

In [17]:
# Write a user-defined function to check if a number is even or odd.
def checker (num):
  if num % 2 == 0 :
    print (f"The number - {num} is even")
  else:
    print(f"The number - {num} is odd")
num = int(input("Enter the Number - "))
checker(num)

Enter the Number - 4
The number - 4 is even

**3. Lambda (Anonymous) Functions**

A lambda is a one-line anonymous function (without def).
Best used for short, simple operations.

In [18]:
#Example 1: Normal vs Lambda
# Normal function
def add(a, b):
    return a + b

# Lambda function
add_lambda = lambda a, b: a + b
print(add_lambda(5, 3))  # 8

8

In [19]:
#Example 2: Conditional Lambda
is_even = lambda x: "Even" if x % 2 == 0 else "Odd"
print(is_even(7))  # Odd

Odd

In [20]:
#Example 3: Using lambda with map() and filter()
nums = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x**2, nums))
evens = list(filter(lambda x: x % 2 == 0, nums))

print("Squares:", squares)
print("Evens:", evens)

Squares: [1, 4, 9, 16, 25]
Evens: [2, 4]

Task 1: Write a lambda function to calculate cube of a number.

Task 2: Use map() with lambda to convert a list of Celsius values to Fahrenheit.

In [22]:
#Write a lambda function to calculate cube of a number.
num = int(input("Enter the number "))
form = lambda num:num**3
print(form(num))

Enter the number 2
8

In [30]:
#Use map() with lambda to convert a list of Celsius values to Fahrenheit.
user_list = list(map(int,input("Enter the list").split()))
form = list( map(lambda i:(i * 1.8) + 32, user_list))
print(form)

Enter the list0 10 20
[32.0, 50.0, 68.0]

**4. Function Arguments**

Python supports:

Positional arguments

Keyword arguments

Default arguments

Variable-length arguments (*args, **kwargs)

In [26]:
#Example 1: Positional + Default Arguments
def introduce(name, city="Unknown"):
    print(f"My name is {name}, I live in {city}.")

introduce("Aashika", "Chennai")
introduce("Sheik")  # default city

My name is Aashika, I live in Chennai.
My name is Sheik, I live in Unknown.

In [31]:
#Example 2: *args â†’ variable number of arguments
def add_all(*args):
    return sum(args)

print(add_all(1, 2, 3, 4, 5))

15

In [32]:
#Example 3: **kwargs â†’ keyworded variable arguments
def show_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

show_info(name="Aashika", role="Data Scientist", city="Chennai")

name: Aashika
role: Data Scientist
city: Chennai

Task 1: Write a function with default arguments for name="Guest" and age=18.

Task 2: Write a function using *args to calculate product of numbers.

In [34]:
#Write a function with default arguments for name="Guest" and age=18.

def greet (name = "Guest", age = 18):
  print (f"Hi {name} you're age is {age} ")
greet("aashika",20)
greet ()

Hi aashika you're age is 20
Hi Guest you're age is 18

In [36]:
#Write a function using *args to calculate product of numbers.
def product (*args):
  return sum(args)

product(1, 2, 3, 4, 5)

15

**5. Scope of Variables**

Local Variable: Defined inside a function.

Global Variable: Defined outside all functions.

global keyword: Used to modify global variables inside functions.

In [ ]:
x = 10  # global

def func():
    global x
    x = 20  # modifies global variable
    y = 5   # local
    print("Inside function:", x, y)

func()
print("Outside function:", x)

Task 1: Create a global variable "count". Increment it inside a function using 'global'.

Task 2: Show that local variables inside a function cannot be accessed outside.

In [1]:
#Create a global variable "count". Increment it inside a function using 'global'.
outside_num = int(input("Enter the number for global variable : "))
def func ():
  global outside_num
  print("Inside the Function: ")
  outside_num+=1
  return outside_num
func()

Enter the number for global variable : 3
Inside the Function:

4

In [4]:
#Show that local variables inside a function cannot be accessed outside.
def func ():
  x = 10
func()
print(x)

NameError: name 'x' is not defined

**6. Recursion**

A recursive function calls itself until a base condition is met.
Useful for problems like factorial, Fibonacci, tree traversal.

In [1]:
#Example: Factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

print("Factorial of 5:", factorial(5))

Factorial of 5: 120

In [ ]:
#Example: Fibonacci (recursive)
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n-1) + fibonacci(n-2)

for i in range(6):
    print(fibonacci(i), end=" ")

Task 1: Write a recursive function to calculate the sum of first n numbers.

Task 2: Write a recursive function to reverse a string.

In [5]:
#Write a recursive function to calculate the sum of first n numbers.
def sum_n (n):
  sum =0
  for i in range (1,n+1):
    sum += i
  return sum

n = int(input("Enter the Number : "))
sum_n(n)

Enter the Number : 10

55

In [6]:
#Write a recursive function to reverse a string
def reverse (string):
  print(string[::-1])

string = input("Enter the string for reversal")
reverse(string)

Enter the string for reversalaashika
akihsaa

**7. Modules in Python**

A module = a .py file containing functions, variables, classes.
We can import:

Built-in modules (math, random, os)

User-defined modules

In [7]:
#Example: Built-in
import math
print(math.sqrt(25))
print(math.factorial(5))

5.0
120

In [8]:
#Example: Random
import random
print(random.randint(1, 10))

4

**Example: Custom Module**

```
File: helper.py

def say_hello(name):
    return f"Hello, {name}"
```

```

File: main.py

import helper
print(helper.say_hello("Aashika"))
```

Since Colab doesnâ€™t have multiple files by default, you can create the helper module in a cell like this:

In [10]:
# Create helper.py in Colab
with open("helper.py", "w") as f:
    f.write("""
def say_hello(name):
    return f"Hello, {name}"
""")

In [11]:
import helper
print(helper.say_hello("Aashika"))

Hello, Aashika

Task 1: Use random module to generate 5 random numbers between 1 and 50.

Task 2: Create a custom module math_utils.py with functions: square, cube, factorial. Import it in another file.

In [13]:
#Use random module to generate 5 random numbers between 1 and 50.
import random
for i in range (5):
  print(random.randint(1,50))

47
25
41
43
15

In [19]:
#Create a custom module math_utils.py with functions: square, cube, factorial. Import it in another file.
with open ("math_utils.py","w") as f:
  f.write("""
import math
def functions(num1):
  square = num1 **2
  cube = num1 **3
  factor = math.factorial(num1)

  print(f"The square of {num1} is {square}")
  print(f"The cube of {num1} is {cube}")
  print(f"The factor of {num1} is {factor}")
  """)

In [22]:
import math_utils
math_utils.functions(25)

The square of 25 is 625
The cube of 25 is 15625
The factor of 25 is 15511210043330985984000000