
**DAY 1 PYTHON – DEEP LEARNING NOTES & TASKS**

This notebook is designed to give a deep understanding of Python basics
for interviews at Amazon, Google, etc.

Each section contains:
  1. Notes
  2. Examples (runnable)
  3. Tasks (in comments, writing my solutions below)


**VARIABLES & DATA TYPES**

Notes:
 - Variables are names pointing to data.
 - Python is dynamically typed.
 - Types: int, float, str, bool
 - Variables are references to objects in memory

In [1]:
# Examples:
a = 10      # int
b = 3.5     # float
name = "Aashika"
is_active = True

print(type(a), type(b), type(name), type(is_active))

#variables store references
x = [1,2,3]
y = x
y.append(4)
print("x after modifying y:", x)

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>
x after modifying y: [1, 2, 3, 4]

Task 1: Create two lists pointing to the same object. Modify one. Observe the other.
Task 2: Create two lists that are independent and modify one. Check the other.
Task 3: Create variables for your name, age, is_student and print them.

In [9]:
# Create two lists pointing to the same object. Modify one. Observe the other
list1 = ["aash","sheik","ani","aji"]
list2 = list1
list2.append("xxx")
list2.pop()
print(list2)

['aash', 'sheik', 'ani', 'aji']

In [ ]:
 #Create two lists that are independent and modify one. Check the other.

In [ ]:
#Create variables for your name, age, is_student and print them.

**2. NUMBERS & ARITHMETIC**

**Notes:**
- Operators: `+`, `-`, `*`, `/`, `//`, `%`, `**`
- Division `/` always returns float
- Floor division `//` returns integer
- Edge case: division by zero → `ZeroDivisionError`
- Swap numbers without temp variable: `x, y = y, x`

In [ ]:
# Examples:
x = 7
y = 3
print("Add:", x+y, "Subtract:", x-y, "Multiply:", x*y)
print("Divide:", x/y, "Floor Divide:", x//y, "Modulo:", x%y, "Power:", x**y)

# Swap without temp
x, y = y, x
print("Swapped x, y:", x, y)

Task 4: Take two numbers and print all operation results
Task 5: Check if a number is divisible by 2,3,5
Task 6: Convert Celsius → Fahrenheit → Kelvin in one function
Task 7: Swap two numbers without a temp variable

In [ ]:
#Take two numbers and print all operation results

In [ ]:
#Check if a number is divisible by 2,3,5

In [ ]:
#Convert Celsius → Fahrenheit → Kelvin in one function

In [ ]:
#Swap two numbers without a temp variable

3.**STRINGS**

**Notes:**
- Strings are immutable sequences of characters
- Common methods: `len()`, `upper()`, `lower()`, `replace()`, `split()`, `join()`
- Slicing: `s[start:stop:step]`
- Reverse string: `s[::-1]`
- Edge cases: empty string, single character, unicode

In [ ]:
# Examples:
s = "Amazon"
print("First char:", s[0], "Last char:", s[-1])
print("Slice [1:4]:", s[1:4])
print("Upper:", s.upper(), "Lower:", s.lower(), "Replace:", s.replace("A","a"))

rev = s[::-1]
print("Reversed:", rev)

Task 8: Check if a string is a palindrome using slicing
Task 9: Count vowels and consonants in a string
Task 10: Remove spaces and capitalize first letters of words
Task 11: Reverse a string without using slicing [::-1]

In [ ]:
#Check if a string is a palindrome using slicing

In [ ]:
#Count vowels and consonants in a string

In [ ]:
#Remove spaces and capitalize first letters of words

In [ ]:
#Reverse a string without using slicing [::-1]

**4.LISTS, TUPLES, SETS, DICTIONARIES**

**Notes:**
- Lists: ordered, mutable, can contain mixed types
- Tuples: ordered, immutable, can be dict keys
- Sets: unordered, unique, fast membership
- Dicts: key-value pairs, fast lookup

**Tips:** Dictionary comprehension is very useful for Amazon/Google interview problems

In [ ]:
# Lists
lst = [1,"hello",3.5,True]
lst.append(100)
lst.insert(1,"new")
lst.remove("hello")
print("List:", lst)

# Tuple
t = (1,2,(3,4))
print("Tuple element:", t[2][1])

# Set
s = {1,2,2,3}
s.add(4)
print("Set:", s)

# Dictionary
d = {"name":"Aashika", "age":20}
d["city"]="Delhi"
print("Dict keys:", d.keys(), "Dict values:", d.values())

# Dictionary comprehension
squared = {x:x**2 for x in range(1,6)}
print("Squared dict:", squared)

Task 12: Create list of 5 numbers, tuple of 3 numbers, set with duplicates, dict of 2 key-value pairs
Task 13: Given a list of words, count frequency of each word using dictionary
Task 14: Find all unique characters in a string using a set
Task 15: Create a dict with squares of numbers from 1-10 using comprehension

In [ ]:
#Create list of 5 numbers, tuple of 3 numbers, set with duplicates, dict of 2 key-value pair

In [ ]:
#Given a list of words, count frequency of each word using dictionary

In [ ]:
#Find all unique characters in a string using a set Task

In [ ]:
#Create a dict with squares of numbers from 1-10 using comprehension

**5.CONDITIONALS**

**Notes:**
- if, elif, else
- Truthy/Falsy: non-zero/non-empty → True, 0/empty → False
- Shortcuts: `if x:`, `if not x:`

In [ ]:
age = 18
if age >= 18:
    print("Adult")
elif age >= 13:
    print("Teenager")
else:
    print("Child")

Task 16: Grade a student: >90 A, >80 B, >70 C, else F
Task 17: Check if a year is a leap year
Task 18: Given a number, print if it is positive, negative, or zero

In [ ]:
#Grade a student: >90 A, >80 B, >70 C, else F

In [ ]:
#Check if a year is a leap year

In [ ]:
#Given a number, print if it is positive, negative, or zero

**6.LOOPS**

**Notes:**
- for loop, while loop
- Nested loops
- break, continue
- range(start, stop, step)

In [ ]:
# For loop
for i in range(5):
    print("For loop:", i)

# While loop
count = 0
while count < 5:
    print("While loop:", count)
    count += 1

# Nested loops
for i in range(3):
    for j in range(2):
        print("Nested:", i,j)

Task 19: Print multiplication table for numbers 1-5 using nested loops
Task 20: Print all prime numbers up to 50
Task 21: Print numbers from 1-50 divisible by 3 or 5
Task 22: Pattern printing:

```
*
**
***
****
*****

```

In [ ]:
#Print multiplication table for numbers 1-5 using nested loops

In [ ]:
#Print all prime numbers up to 50

In [ ]:
#Print numbers from 1-50 divisible by 3 or 5

In [ ]:
'''Pattern printing:
*
**
***
****
***** '''

**7.FUNCTIONS**

**Notes:**
- Reusable blocks of code
- Arguments: positional, keyword, default, *args, **kwargs
- Can return multiple values
- Recursion is very important for Amazon/Google interview prep

In [ ]:
def greet(name="Guest"):
    print(f"Hello, {name}")

greet("Aashika")
greet()

def add_mul(x,y):
    return x+y, x*y

sum_, prod = add_mul(3,4)
print(sum_, prod)

def foo(*args, **kwargs):
    print("args:", args)
    print("kwargs:", kwargs)

foo(1,2,3,a=10,b=20)

Task 23: Factorial of a number using recursion
Task 24: Check if a list is sorted
Task 25: Function to find max and min in a list
Task 26: Function to merge two dictionaries (sum values for same keys)
Task 27: Function to count frequency of characters in a string

In [ ]:
#Factorial of a number using recursion

In [ ]:
#Check if a list is sorted

In [ ]:
#Function to find max and min in a list

In [ ]:
#Function to merge two dictionaries (sum values for same keys)

In [ ]:
#Function to count frequency of characters in a string

**8.BONUS – INTERVIEW PATTERNS**

**Notes:**
- Pattern printing is common in interviews
- Examples:
```
*
**
***
****
*****
```
- Nested loops required
- Understand indexes carefully

Task 28: Print reverse pattern:
```
*****
****
***
**
*
```
Task 29: Pyramid pattern:


```
     *
    ***
   *****
```

Task 30: Given a list of numbers, print all pairs whose sum is even
Task 31: Given a string, print all substrings

In [ ]:
'''Print reverse pattern:
*****
****
***
**
* '''

In [ ]:
'''Pyramid pattern:
     *
    ***
   ***** '''

In [ ]:
#Given a list of numbers, print all pairs whose sum is even

In [ ]:
#Given a string, print all substrings