**Day 2: Python Notes â€“ Loops, Conditions, Functions**

This notebook covers detailed explanations, examples, and practice tasks for conditional statements, loops, and functions in Python. It is designed for deep understanding and interview-level practice.

**1. Conditional Statements**

Conditional statements decide which path the program should take based on conditions. Python evaluates a condition as True or False.

**Types: `if`, `if-else`, `if-elif-else`**

- `if condition:` executes block if condition is True  
- `else:` executes block if all previous conditions are False  
- `elif condition:` checks additional conditions if previous `if/elif` are False  

**Boolean and logical operators:  **
- `==` equals  
- `!=` not equal  
- `>` greater than  
- `<` less than  
- `>=`, `<=` greater/less than or equal  
- `and`, `or`, `not` combine conditions

In [61]:
marks = int(input("Enter your marks: "))

if marks > 90:
    print("Grade A")
elif 80 < marks <= 90:
    print("Grade B")
elif 70 < marks <= 80:
    print("Grade C")
else:
    print("Grade F")

Enter your marks: 30
Grade F

Task: Check if a number is even or odd

Task: Check largest among 3 numbers

Task: Implement nested conditions to classify age groups (child, teen, adult, senior)

In [1]:
#Check if a number is even or odd

def check (num):
  if(num > 0):
    if (num%2 == 0):
      print(f"The {num} is even")
    else:
      print(f"The {num} is odd")
  elif(num == 0):
    print(f"The {num} is neutral number (i.e) zero.")
  else:
    print(f"The {num} is negative number,Give postive number")
num = int(input("Enter the number"))
check(num)

Enter the number-2
The -2 is negative number,Give postive number

In [5]:
#Check largest among 3 numbers
def large(num1,num2,num3):
  if (num1 > num2 and num1 > num3):
    print(f"{num1} is greator than {num2} and {num3}")
  elif (num2 > num1 and num2 > num3):
    print(f"{num2} is greator than {num1} and {num3}")
  else:
    print(f"{num3} is greator than {num1} and {num2}")

num1, num2, num3 = map(int, input("Enter three numbers separated by spaces: ").split())
large(num1,num2,num3)

Enter three numbers separated by spaces: 1 2 3
3 is greator than 1 and 2

In [6]:
#Implement nested conditions to classify age groups (child, teen, adult, senior)
 #Child (approximately 0-12 years), Teen (approximately 13-19 years), Adult (approximately 20-64 years), and Senior (65+ years)
def age_check (age):
  if age <= 12:
    print(f"You're age is {age} so you're a CHILD")
  elif (age >= 13 ) and (age <= 19):
    print(f"You're age is {age} so you're a TEEN")
  elif (age >= 20 ) and (age <= 64):
    print(f"You're age is {age} so you're an ADULT")
  else:
    print(f"You're age is {age} ao you're a SENIOR")

age = int(input("Enter you're age to check category : "))
age_check(age)

Enter you're age to check category : 45
You're age is 45 so you're an ADULT

**2. For Loops**

`for` loops repeat a block a known number of times. They can iterate over any iterable like `range()`, `list`, `tuple`, or `string`.

Nested loops allow repeating loops inside loops for complex patterns or sequences.

In [62]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [63]:
for i in range(1, 4):
    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}")
    print("---------")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
---------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
---------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
---------

Task : Print even numbers 1-20

Task : Print factorial of a number using for loop

Task : Print all prime numbers from 1 to 100

In [10]:
#Print even numbers 1-20
def even_num (num):
  print ("The even number's are given below")
  for i in range (1,num+1):
    if (i%2 == 0):
      print(i)

even_num(20)

The even number's are given below
2
4
6
8
10
12
14
16
18
20

In [17]:
# Print factorial of a number using for loop
def factorial (num):
  result = 1
  for i in range (1,num+1):
    result *= i
  print(result)

num = int(input("Enter the Number to check Factorial"))
factorial (num)

Enter the Number to check Factorial5
120

In [27]:
# Print all prime numbers from 1 to 100

def prime_num(num):
    print("The prime number between 1 - 100 : ")
    for i in range(2, num + 1):
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            print(i, end=" ")

prime_num(100)

The prime number between 1 - 100 :
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

**3. While Loops**

`while` loops repeat until a condition becomes False. Useful when the number of iterations is not known in advance.

You can use `break` to exit loops early and `continue` to skip the current iteration.

In [29]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [28]:
i = 0
while i < 10:
    i += 1
    if i == 5:
        continue
    elif i == 8:
        break
    print(i)

1
2
3
4
6
7

Task :Sum of first n numbers

Task : Reverse a number

Task : Count digits of each number in a list

In [36]:
#Sum of first n numbers
def sum1 (n):
  sum = 0
  i=1
  while i <= n:
    sum += i
    i+=1
  print(sum)
  #return sum

n = int(input("Enter the n : "))
sum1(n)

Enter the n : 3
6

In [40]:
# Reverse a number
def reverse(num):
    temp = 0
    while num > 0:
        digit = num % 10
        temp = temp * 10 + digit
        num = num // 10
    print("The reversed number is", temp)

num = int(input("Enter the number to be reversed: "))
reverse(num)

Enter the number to be reversed: 32
The reversed number is 23

In [51]:
# Count digits of each number in a list
def digits(num_list):
    for num in num_list:
        temp = num
        count = 0
        if temp == 0:
            count = 1
        else:
            while temp > 0:
                temp //= 10
                count += 1
        print(f"Number {num} has {count} digits")

num_list = list(map(int, input("Enter the numbers separated by spaces: ").split()))
digits(num_list)

Enter the numbers separated by spaces: 12 345 7 8901
Number 12 has 2 digits
Number 345 has 3 digits
Number 7 has 1 digits
Number 8901 has 4 digits

**4. Functions**

Functions are reusable blocks of code. Input goes in, process happens, output comes out.

Syntax:
def function_name(parameters):
    # code
    return output

Advanced:
- Default parameters: def greet(name="Friend"):
- Variable length arguments: def add(*nums):
- Functions can return multiple values: return min(lst), max(lst)

In [64]:
# Factorial function
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

print(factorial(5))

# Default parameter example
def greet(name="Friend"):
    print("Hello", name)
greet()
greet("Aashika")

# Variable length arguments example
def add(*nums):
    total = 0
    for n in nums:
        total += n
    return total

print(add(1,2,3,4))

# Function returning multiple values
def min_max(lst):
    return min(lst), max(lst)

print(min_max([3,1,7,4]))

120
Hello Friend
Hello Aashika
10
(1, 7)

Task: Function to square a number

Task:Function to check if number is prime

Task:Function to generate Fibonacci series up to n terms

In [54]:
#Function to square a number
def square (num):
  squared = num **2
  return squared
num = int(input("Enter the number to be squared :"))
square(num)

Enter the number to be squared :2

4

In [58]:
#Function to check if number is prime
def prime_num(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

num = int(input("Enter the number to check whether it is prime number or not :"))
prime_num(num)

Enter the number to check whether it is prime number or not :3

True

In [60]:
#Function to generate Fibonacci series up to n terms
def Fibonacci(n):
    a, b = 0, 1
    if n < 0:
        print("Input is incorrect")
    elif n == 0:
        return 0
    elif n == 1:
        return b
    else:
        for i in range(2, n + 1):
            c = a + b
            a = b
            b = c
        return b


n = int(input("Enter the number : "))
Fibonacci (n)

Enter the number : 10

55